<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Order</title>
  <meta name="robots" content="noindex" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="googlebot-news" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <main id="app" class="main-content">
    <%- include('../_nav') %>
    <div class="container">
      <div class="row">
        <div>

          <h3>Create Order</h3>

          <div>
            <a href="/backoffice/order" class="btn"><i class="material-icons left">chevron_left</i> Back</a>
          </div>
        </div>

        <div class="col s12" style="padding: 1rem 0">
          <form method="post" action="/backoffice/order">
            <div class="row">
              <div class="input-field col s12 l6">
                <input
                   placeholder="E.g: e8n00adf"
                   name="ticketCode"
                   id="ticketCode"
                   type="text"
                   class="validate"
                   value="<%= inputs.ticketCode %>"
                >
                <label for="ticketCode">Ticket Code</label>
                <% if ('ticketCode' in errors) { %>
                <span class="helper-text red-text" data-error="wrong"><%= errors.ticketCode %></span>
                <% } %>
              </div>

              <div class="input-field col s12 l6">
                <input
                  placeholder="Attendee Name"
                  name="name"
                  id="name"
                  type="text"
                  class="validate"
                  value="<%= inputs.name %>"
                >
                <label for="name">Name</label>
                <% if ('name' in errors) { %>
                <span class="helper-text red-text" data-error="wrong"><%= errors.name %></span>
                <% } %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input
                  placeholder="Phone"
                  name="phone"
                  id="phone"
                  type="text"
                  class="validate"
                  value="<%= inputs.phone %>"
                >
                <label for="phone">Phone</label>
                <% if ('phone' in errors) { %>
                <span class="helper-text red-text" data-error="wrong"><%= errors.phone %></span>
                <% } %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" name="email" id="email" type="text" class="validate" value="<%= inputs.email %>">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input placeholder="E.g: Untad" name="institution" id="institution" type="text" class="validate" value="<%= inputs.institution %>">
                <label for="institution">Institution</label>
              </div>
            </div>

            <div style="text-align: right;">
              <button class="btn-large">Create</button>
            </div>
          </form>
        </div>
    </div>
  </main>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/sidenav.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });
  </script>
</body>
</html>
