<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Detail</title>
  <meta name="robots" content="noindex" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="googlebot-news" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <main id="app" class="main-content">
    <%- include('../_nav') %>
    <div class="container">
      <div class="row">
        <div>

          <h3>Order Detail</h3>

          <div>
            <a href="/backoffice/order" class="btn"><i class="material-icons left">chevron_left</i> Back</a>
          </div>
        </div>

        <div class="col s12" style="padding: 1rem 0">
          <form id="editForm">
            <input type="hidden" name="ticketCode" value="<%= order.ticketCode %>">
            <div class="row">
              <div class="col s12 l9">
                <div class="card horizontal">
                  <div class="card-stacked">
                    <div class="card-content">
                      <div class="mb-8" style="display: flex">
                      <div class="mr-4">payment <br><span class="text-xl font-bold pull-right green-text"><%= order.paymentStatus %></span></div>
                      <div>payment amount <br><span class="text-xl font-bold  pull-right green-text"><%= order.paymentAmount || '-' %></span></div>

                      </div>

                      <div class="mb-2">Ticket Code</div>
                      <h3 class="heading">
                        #<%= order.ticketCode %>
                      </h3>

                      <div class="mb-4" style="font-size: 1.5rem"><%= order.name %></div>
                      <p class="blue-text">
                        <span class="mr-4 inline-flex"><i class="material-icons mr-2">phone</i> <%= order.phone %></span>
                        <span class=" inline-flex"><i class="material-icons mr-2">email</i> <%= order.email || '-' %>  </span>
                      </p>
                      <p><%= order.institution %></p>
                    </div>
                    <div class="card-action" style="text-align: right;">
                      <% if (order.paymentStatus === 'pending') { %>
                      <!-- <div style="margin-bottom: 1rem">
                        <div class="switch">
                          <label>
                            No
                            <input type="checkbox">
                            <span class="lever"></span>
                            Use Discount
                          </label>
                        </div>
                      </div> -->

                      <button class="btn-large">Receive Payment</button>
                      <input type="hidden" name="paymentStatus" value="paid">
                      <% } %>

                      <% if (order.paymentStatus === 'paid') { %>
                      <button class="btn-large">Refund</button>
                      <input type="hidden" name="paymentStatus" value="refund">
                      <% } %>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </main>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/sidenav.js"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });

    var editForm = document.querySelector('#editForm')
    editForm.addEventListener('submit', function (e) {
      e.preventDefault();
      const form = e.target;
      const code = form.ticketCode.value;
      const payload = {
        paymentStatus: form.paymentStatus.value,
      };

      axios.patch(`/backoffice/order/${code}`, payload)
        .then(() => {
          window.location.reload();
        });
    });
  </script>
</body>
</html>
