<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Order</title>
  <meta name="robots" content="noindex" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="googlebot-news" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <main id="app" class="main-content">
      <%- include('../_nav') %>
      <div class="container">
        <div class="row">
          <div class="col s12">

            <h3>List of Order</h3>

            <div>
              <a href="/backoffice/order/create" class="btn">Create New Order</a>
            </div>
          </div>

          <div class="col s12">
            <div style="margin-top: 1rem" id="filter">
              <button @click="toggleFilter" class="btn white black-text">
                <i class="material-icons left">filter_list</i> Filter
              </button>
            </div>
            <form class="hide" id="searchForm" action="/backoffice/order" method="get">
              <div class="input-field col s12 l2">
                <input value="<%= query.ticketCode %>" placeholder="ticket no" name="ticketCode" type="text" class="validate">
              </div>
              <div class="input-field col s12 l2">
                <input value="<%= query.name %>" placeholder="name" name="name" type="text" class="validate">
              </div>
              <div class="input-field col s12 l4">
                <select name="paymentStatus">
                  <option value="" selected>All Payment Status</option>
                  <option <%= query.paymentStatus === 'pending' && 'selected' %> value="pending">Pending</option>
                  <option <%= query.paymentStatus === 'paid' && 'selected' %> value="paid">Paid</option>
                  <option <%= query.paymentStatus === 'refund' && 'selected' %> value="refund">Refund</option>
                </select>
              </div>

              <div class="input-field col s12 l3">
                <a href="/backoffice/order" class="btn">Reset</a>
                <button class="btn">Search</button>
              </div>

            </form>
          </div>

          <div class="col s12">
            <div style="width: 100%; overflow-x: scroll;">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Ticket No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Entry By</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% if (!orders.length) { %>
                  <tr>
                    <td colspan="6" style="text-align: center">
                      No Data
                    </td>
                  </tr>
                  <% } %>
                  <% orders.forEach(function (order) { %>
                  <tr>
                    <td><%= order.ticketCode %></td>
                    <td><%= order.name %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.paymentStatus %></td>
                    <td><%= order.entryBy.name %></td>
                    <td>
                      <a href="/backoffice/order/<%= order.ticketCode %>" class="waves-effect waves-light btn-small">View</a>
                      <button class="waves-effect waves-light btn-small red">Remove</button>
                    </td>
                  </tr>
                 <% }) %>
                </tbody>
              </table>
            </div>

            <div style="padding: 2rem 0; text-align: right">
              <span style="display: inline-block; margin-right: 1rem">
                Page <%= query.page %>
              </span>
              <a href="?<%= prevQuery %>" <%= !prevPage && 'disabled' %> class="btn">
                <i class="material-icons left">chevron_left</i> Prev
              </a>
              <a href="?<%= nextQuery %>" class="btn">
                <i class="material-icons right">chevron_right</i> Next
              </a>
            </ul>
          </div>
        </div>
      </div>
    </main>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  <script src="/js/sidenav.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.Modal.init(document.querySelectorAll('.modal'));
      M.FormSelect.init(document.querySelectorAll('select'));
    });

    new Vue({
      el: '#app',
      methods: {
        toggleFilter() {
          document.querySelector('#searchForm').classList.toggle('hide')
        }
      }
    })
  </script>
</body>
</html>
